#port{
    width: 100%;
    margin-top: 30vh;

    .port_inner{
        padding: 16px;

        .port_title{
            // background-color: lightpink;
            height: 5vw;
            font-size: 4vw;
            font-family: var(--mainBg-font);
            font-weight: 700;
            text-transform: capitalize;
            border-bottom: 0.4vw solid var(--black100);
            margin-bottom: 16px;

            em{
                font-size: 1.25rem;
                font-weight: 300;
                font-family: var(--mainNum-font);
                vertical-align: 3px;
            }
        }
        .port_wrap{
            width: 4000px;
            display: flex;
            flex-wrap: wrap;
            height: 70vh;

            .port_item{
                width: 500px;
                padding: 2.5rem;
                margin-right: 20px;

                &.p1{
                 background-color: var(--subBg100);
                }
                &.p2{
                 background-color: var(--subBg200);
                }
                &.p3{
                 background-color: var(--subBg300);
                }
                &.p4{
                 background-color: var(--subBg400);
                }
                &.p5{
                 background-color: var(--subBg500);
                }
                &.p6{
                 background-color: var(--subBg100);
                }

                .num{
                    font-size: 32px;
                    font-family: var(--mainNum-font);
                    }

                .img{
                    display: block;
                    margin-top: -20px;
                    transition: margin-top 0.3s;

                    img{
                        filter: saturate(0%);
                        border-radius: 5px;
                        transition: all 0.3s;
                    }

                    &:hover{
                        margin-top: 0px;
                    
                    img{
                        filter: saturate(100%);
                    }
                    }
                }
                .title{
                    font-size: 1.5rem;
                    padding: 12px 0;
                    font-weight: 700;
                    font-family: var(--mainBg-font);
                    border-bottom: 2px solid var(--black100);
                    text-align: center;
                }
                .desc{
                    text-align: justify;
                    padding: 1rem 0;
                }
                .site{
                    border: 1px solid var(--black100);
                    display: block;
                    text-align: center;
                    margin-top: 20px;
                    padding: 12px 0;

                    &:hover{
                        background-color: rgba(0,0,0,.3);
                        color: var(--white);
                    }
                    
                }
            }
        }
    }
}